/* GLOBALS */

	@charset "UTF-8";
	
	@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
	
	*, ::before, ::after {
		box-sizing: border-box;
		margin: 0;
	    padding: 0;
	    border: 0;
	    outline: 0;
	    font-size: 100%;
	    vertical-align: baseline;
	    background: transparent;
		font-family: var(--ff-rubik);
	}
	
	:root {
		--main-col: #B18FCF;
		--secondary-col: #D8D8F6;
		--accent-col: #978897;
		--text-dark: #494850;
		--accent-warning: #C03221;
		--ff-rubik: "Rubik";
	}
	
	body {
		margin: 0;
		min-height: 100vh;
		overflow-x: hidden;
	}
	

/* GLOBALS - TYPOGRAPHY */
	
h1 {
	font-size: 20pt;
}

h2 {
	font-size: 18pt;
}

.text-center {
	text-align: center;
}

.subtitle {
	font-size: 16pt;
	font-style: italic;
	opacity: 0.6;
}


/* GLOBALS - CONTENT */

.wrapper, .main {
	display: flex;
	flex-direction: column;
	
	width: 100%;
	position: relative;
}

.wrapper {
	justify-content: space-between;
	
	min-height: 100vh;
	top: 0;
	left: 0;
	
	color: var(--text-dark);
	background: white;
}

.main {
	align-items: center;
	justify-content: center;
	
	width: 100%;
	min-height: auto;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	right: 0;
	height: 90%;
	background-color: var(--main-col);
	z-index: 10;
	transition: 500ms ease-in-out;
	padding-block: 2.5em;
	width: 300px;
	box-shadow: -0.5em 0.5em 0.5em -0.5em black;
}

.sidebar:has(.btn--toggler.active) {
	background-color: var(--text-dark);
	color: white;
}

.sidebar .sidebar--heading {
	width: 100%;
	border-bottom: 1px solid var(--text-dark);
	padding: 0 0 2.5em 1em; 
}

.sidebar[data-position = "open"] {
	right: 0;
	opacity: 1;
}

.sidebar[data-position = "closed"],
.sidebar[data-position = "closed"] > * {
	right: -300px;
	opacity: 0;
}

.sidebar > * {
	display: flex;
	align-items: center;
	gap: 0.5em;
	padding: 0 0.5em;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.35em;
	
	position: relative;
	top: 0px;
	padding: 1.5em 2em;
	
	background-color: var(--text-dark);
	color: white;
}

.header.header__index {
	justify-content: center;
}

.psych {
	padding: 0.25em;
	border-radius: 20px 0 20px 0;
	
	background: var(--main-col);
	color: white;
}
	

.swipe {
	color: white;
}

.card {
	max-width: 90%;
	width: 350px;
	height: 435px;
	
	border-radius: 20px;
	overflow: hidden;
	
	background-color: var(--main-col);
}

.form,
.form > * {
	display: flex;
	flex-direction: column;
}

.form {
	height: 100%;
	padding-top: 1em;
}

.form--section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5em;

	padding: 0.85em 1.5em;
}

.form--section.form--section-error {
	padding: 0 1.5em;
}

.form--section-column-input {
	padding: 0.5em;
	border-radius: 5px;
	border: 1px solid var(--secondary-col);

	background-color: white;
}

.form--section-column-input, 
.form--section-column-label {
	margin: 0.85em 1.5em;
}

.form--section-label {
	flex: 1;
}

.form--section-input {
	flex: 1.5;
	
	padding: 0.5em;
	border-radius: 5px;
	border: 1px solid var(--secondary-col);
	overflow: hidden;

	background-color: white;
}

.footer--nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
	width: 100%;
	position: sticky;
	bottom: 0;
	padding: 0.5em 0;
	z-index: 2;

	background: var(--text-dark);
}

.footer--nav > a {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 50px;
	height: 50px;
	border-radius: 100%;
	
	transition: 200ms;
}

.footer--nav > a:hover {
	transform: scale(1.1);
}

.active > svg > #SVGRepo_iconCarrier_home > path {
	stroke: var(--main-col);
}

.active > svg > g > g > #Dribbble-Light-Preview,
.active > svg > #SVGRepo_iconCarrier_matches > path,
.active > svg > #SVGRepo_iconCarrier > path {
	fill: var(--main-col);
}

.btn--accent {
	margin-top: 1em;
	padding: 1em 2em;
	border: 3px solid var(--main-col);
	border-radius: 15px 2px 15px 2px;
	
	background: white;
	cursor: pointer;
	transition: 300ms;
}

.btn--accent:hover {
	box-shadow: -0.3em 0em 0.7em -0.2em black;
	
	background: var(--main-col);
	color: white;
	transform: translateY(-3px);
}

.btn--accent:active {
	transform: translateY(0px);
	box-shadow: none;
}

.btn--accent.create {
	border: none;
	margin-top: 0;
}

.btn--accent.create:hover {
	background: var(--secondary-col);
	color: var(--text-dark);
}

.visible,
.card.visible > *,
.card.visible > * > *,
.card.visible > * > * > * {
	max-height: 1000px;
	opacity: 1;
	transition: max-height 600ms ease-in-out, opacity 400ms ease-in-out, z-index 500ms;
	position: relative;
}

.visible {
	z-index: 0;
}

.hidden,
.card.hidden,
.card.hidden > *,
.card.hidden > * > *,
.card.hidden > * > * > * {
	max-height: 0px;
	opacity: 0;
	transition: max-height 600ms ease-in-out, 
				opacity 700ms ease-in-out, 
				z-index 0ms 1500ms,
				padding 500ms 1000ms,
				margin 500ms 1000ms;
	position: relative;
	
	margin: 0;
	padding: 0;
}

.hidden {
	z-index: -1;
}

/* LOGIN & REG SPECIFIC */

.wrapper.wrapper-index {
	justify-content: start;
	gap: 20em;
}

.login, .register {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	padding: 1.5em;
}

.login {
	z-index: 2;
}

.register {
	z-index: 1;
}

.btn--register {
	margin-top: 0em;
}

.btn--accent.btn--login, .btn--accent.btn--register {
	border: none;
	align-self: center;
}

.btn--accent.btn--login:hover, .btn--accent.btn--register:hover {
	background-color: var(--secondary-col);
	color: var(--text-dark);
}

.switch {
	display: flex;
	align-items: center;
	gap: 0.5em;
	align-self: flex-end;

	color: var(--font-dark);
	cursor: pointer;
}


/* HOME SCREEN - FIRST VISIT */


#form--patient, #form--provider {
	margin-top: 1em;
}

#newProvider > .form--section {
	align-items: flex-start;
}

	/* All indented CSS below is literally just for the multi select dropdown */

	.multi--select {
		position: relative;
		flex: 1.5;
	}
	
	.form--section-input.selection {
		max-width: 61%;
	}
	
	.select--element {
		position: relative;
		width: 100%;
	}
	
	.select--element > select {
		width: 100%;
	}
	
	.overSelect {
		position: absolute;
		inset: 0 0 0 0;
	}
	
	.checkboxes {
		display: flex;
		flex-direction: column;
		
		position: absolute;
		z-index: 3;
		width: 100%;
		padding: 0.5em 0;
		border: 1px solid var(--main-col);
		
		background: white;
	}
	
	.checkboxes.visible {
		max-height: 100px;
		overflow: auto;
		opacity: 1;
		transition: max-height 300ms 0ms, opacity 300ms 0ms;
	}
	
	.checkboxes.hidden {
		max-height: 0px;
		overflow: hidden;
		opacity: 0;
		margin: 0;
		padding: 0;
		transition: none;
	}
	
	.checkboxes.hidden > span {
		display: block;
		
		max-height: 0px;
		margin: 0;
		padding: 0;
		opacity: 0;
		
		transition: max-height 600ms 0ms, opacity 400ms 0ms;
		z-index: -1;
	}
	
	.checkboxes > span {
		display: flex;
		gap: 0.5em;
		padding: 0.5em;
	}
	
	.checkboxes > span:hover {
		background: var(--secondary-col);
	}
	
	.states--checkboxes {
		z-index: 10;
	}

/* HOME SCREEN - PROVIDER */

.card--provider {
	padding: 1em;
}

/* UPDATE PROFILE SECTION */

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.7em;
}

.profile--avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	
	width: 150px;
	height: 150px;
	border-radius: 100%;

	background: var(--main-col);
	scale: 1;
	transition: 300ms;
	transition-delay: 500ms;
}

.profile--avatar-mini {
	transform: scale(0.5) translateY(50px);
	transition-delay: 0ms;
}

.profile--extra-actions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.25em;
	margin-bottom: 1em;
}

.form--section-update {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.form--section-update > input {
	margin-left: 1.5em;
}

.form--update {
	width: 80%;
	overflow-y: auto;
	position: relative;
	padding: 0 0 1em 0;
}

.form--update > * {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

#update {
	align-self: flex-end;
}

.btn--accent.btn--createNew {
	border-color: var(--secondary-col);
}

.btn--accent.btn--createNew:hover {
	background-color: var(--secondary-col);
	color: var(--text-dark);
}


/* SWIPING CARDS  */

.swipeCard--actions > *,
.card--container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.card--container {
	flex-direction: column;

	width: 95%;
	height: 450px;
}

.card.card--home.swipeCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: center;
	
	transition: transform 400ms, opacity 500ms, translate 400ms;
	z-index: 1;
	opacity: 1;
}

.card--home {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.card.card--home.secondCard {
	position: absolute;
	translate: 5px -7.5px;
	z-index: 0;
	opacity: 0.7;
}

.swipeCard--actions {
	display: flex;
	justify-content: space-between;
	
	padding: 0 2em;
	height: 20%;
}

.swipeCard--profile {
	height: 80%;
}

.swipeCard--pfp {
	display: flex;
	flex-direction: column;
	justify-content: end;

	height: 100%;	
	background: center / cover no-repeat url(https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2531&q=80);
}

.swipeCard--pfp > h2 {
	padding: 0.5em 0.75em;
	background: rgba(184,184,184,0.3);
	color: white;
}


/* Matches screen */


.main.rows {
	justify-content: start;
	min-height: 100%;
	flex-grow: 1;
}

.wrapper.matches {
	justify-content: start;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	padding: 1em;
	width: 100%;
	border-bottom: 2px solid var(--secondary-col);
	
	background-color: white;
	cursor: pointer;
	transition: 200ms;
}

.row:last-of-type {
	border-bottom: none;
}

.row:hover,
.row.row--active {
	background-color: var(--secondary-col);
}

.row--moreInfo.hidden {
	transition: max-height 600ms ease-in-out, 
					opacity 400ms ease-in-out,
					z-index 0ms 500ms;
}


.pfp,
.profile--button {
	background: center / cover no-repeat url(https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2531&q=80);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	cursor: pointer;
	transition: 300ms linear;
}

.profile--button {
	position: relative;
	z-index: 11;
}

.row > svg {
	transition: 300ms;
}

.row > svg:hover {
	scale: 1.2;
}

.pfp:hover {
	border-radius: 10px;
}

svg.open {
	rotate: 180deg;
}

.row--moreInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	background: linear-gradient(to bottom, var(--secondary-col), white);
	padding: 0 1em;
}

.btn--accent.btn--remove {
	border-color: var(--accent-warning);
	color: var(--accent-warning);
	padding: 0.5em 1em;
}

.btn--accent.btn--profile {
	padding: 0.5em 1em;
}

.btn--accent.btn--remove:hover {
	background-color: var(--accent-warning);
	color: white;
}

.btn--toggler {
	transition: 300ms;
	position: relative;
    width: 50px;
    height: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 1em -0.2em;
    background-color: var(--text-dark);
}

.btn--toggler.active {
	background-color: var(--secondary-col);
}

.toggle--circle {
	position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    transition: 300ms;
    top: 2px;
}

.btn--toggler > .toggle--circle {
    left: 3px;
    background-color: var(--secondary-col);
}

.btn--toggler.active > .toggle--circle {
	left: 31px;
	background-color: var(--main-col);
}
