/* GLOBALS */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

:root {
	--main-col: #B18FCF;
	--secondary-col: #D8D8F6;
	--accent-col: #978897;
	--text-dark: #494850;
	--ff-rubik: "Rubik";
}


body {
	margin: 0;
	min-height: 100vh;
	font-family: var(--ff-rubik);
}

h1 {
	font-size: 22pt;
}

h2 {
	font-size: 20pt;
}

.text-center {
	text-align: center;
}

.subtitle {
	font-size: 16pt;
	font-style: italic;
	opacity: 0.6;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
	left: 0;
	color: var(--text-dark);
	background: white;
}

.main {
	width: 100%;
	min-height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.35em;
	position: relative;
	top: 0px;
	padding: 1.5em 0;
	background-color: var(--text-dark);
}

.psych {
	background: var(--main-col);
	color: white;
	padding: 0.25em;
	border-radius: 20px 0 20px 0;
}

.swipe {
	color: white;
}

.card {
	width: 350px;
	max-width: 90%;
	height: 435px;
	border-radius: 20px;
	background-color: var(--main-col);
}

.form {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 1em;
}

.form > * {
	display: flex;
	flex-direction: column;
}

.form--section {
	padding: 0.85em 1.5em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5em;
}

.form--section-column-input {
	padding: 0.5em;
	border-radius: 5px;
	background-color: white;
	border: 1px solid var(--secondary-col);
}

.form--section-column-input, 
.form--section-column-label {
	margin: 0.85em 1.5em;
}

.form--section-label {
	flex: 1;
}

.form--section-input {
	flex: 1.5;
	padding: 0.5em;
	border-radius: 5px;
	background-color: white;
	border: 1px solid var(--secondary-col);
	overflow: hidden;
}

.form > * > .form--section-error {
	padding: 0em;
}

.footer--nav {
	position: sticky;
	bottom: 0;
	width: 100%;
	background: var(--text-dark);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0.5em 0;
	z-index: 2;
}

.footer--nav > a {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 200ms;
}

.footer--nav > a:hover {
	transform: scale(1.1);
}

.active > svg > #SVGRepo_iconCarrier_home > path {
	stroke: var(--main-col);
}

.active > svg > g > g > #Dribbble-Light-Preview,
.active > svg > #SVGRepo_iconCarrier_matches > path {
	fill: var(--main-col);
}

.btn--accent {
	margin-top: 1em;
	padding: 1em 2em;
	background: white;
	border: 3px solid var(--main-col);
	border-radius: 15px 2px 15px 2px;
	cursor: pointer;
	transition: 300ms;
}

.btn--accent:hover {
	background: var(--main-col);
	color: white;
	transform: translateY(-3px);
	box-shadow: -0.3em 0em 0.7em -0.2em black;
}

.btn--accent:active {
	transform: translateY(0px);
	box-shadow: none;
}

.btn--accent.create {
	border: none;
}

.btn--accent.create:hover {
	background: var(--secondary-col);
	color: var(--text-dark);
}

.visible {
	max-height: 1000px;
	opacity: 1;
	transition: max-height 600ms 0ms, opacity 400ms 0ms;
}

.hidden {
	max-height: 0px;
	opacity: 0;
	transition: max-height 600ms 0ms, opacity 400ms 0ms;
	z-index: -1;
	margin: 0;
	padding: 0;
}

.card.hidden > *,
.card.hidden > * > *,
.card.hidden > * > * > * {
	margin: 0;
	padding: 0;
	max-height: 0px;
}

/* LOGIN & REG SPECIFIC */

.wrapper.wrapper-index {
	justify-content: start;
	gap: 20em;
}

.login, .register {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.5em;
}

.login {
	z-index: 2;
	
}

.register {
	z-index: 1;
}


.btn--register {
	margin-top: 0em;
}

.btn--accent.btn--login, .btn--accent.btn--register {
	border: none;
	align-self: center;
}

.btn--accent.btn--login:hover, .btn--accent.btn--register:hover {
	background-color: var(--secondary-col);
	color: var(--text-dark);
}

.switch {
	align-self: flex-end;
	display: flex;
	align-items: center;
	gap: 0.5em;
	color: var(--font-dark);
	cursor: pointer;
}


/* HOME SCREEN - FIRST VISIT */

#form--patient, #form--provider {
	margin-top: 1em;
}

#newProvider > .form--section {
	align-items: flex-start;
}

.multi--select {
	position: relative;
	flex: 1.5;
}

.form--section-input.selection {
	
	max-width: 61%;
}

.select--element {
	position: relative;
	width: 100%;
}

.select--element > select {
	width: 100%;
}

.overSelect {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.checkboxes {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100%;
	background: white;
	padding: 0.5em 0;
	border: 1px solid var(--main-col);
}

.checkboxes.visible {
	max-height: 100px;
	overflow: scroll;
	opacity: 1;
	transition: max-height 300ms 0ms, opacity 300ms 0ms;
}

.checkboxes.hidden {
	max-height: 0px;
	overflow: hidden;
	opacity: 0;
	margin: 0;
	padding: 0;
	transition: none;
}

.checkboxes.hidden > span {
	display: block;
	max-height: 0px;
	opacity: 0;
	transition: max-height 600ms 0ms, opacity 400ms 0ms;
	z-index: -1;
	margin: 0;
	padding: 0;
}

.checkboxes > span {
	display: flex;
	gap: 0.5em;
	padding: 0.5em;
}

.checkboxes > span:hover {
	background: var(--secondary-col);
}

.states--checkboxes {
	z-index: 10;
}

/* HOME SCREEN - PROVIDER */

.card--provider {
	padding: 1em;
}

/* UPDATE PROFILE SECTION */

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.7em;
}

.profile--avatar {
	width: 150px;
	height: 150px;
	background: var(--main-col);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	scale: 1;
	transition: 300ms;
	transition-delay: 500ms;
}

.profile--avatar-mini {
	transform: scale(0.5) translateY(50px);
	transition-delay: 0ms;
	
}

.profile--extra-actions {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	margin-bottom: 1em;
}

.form--section-update {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

.form--section-update > input {
	margin-left: 1.5em;
}

.form--update {
	width: 80%;
	overflow-y: scroll;
	position: relative;
	padding: 0 0 1em 0;
}

.form--update > * {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

#update {
	align-self: flex-end;
}

.btn--accent.btn--createNew {
	border-color: var(--secondary-col);
}

.btn--accent.btn--createNew:hover {
	background-color: var(--secondary-col);
	color: var(--text-dark);
}






/* SWIPING CARDS  */

.card--container {
	width: 95%;
	height: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card.swipeCard {
	align-self: center;
	transition: transform 400ms, align-self 300ms;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.secondCard {
	position: absolute;
	z-index: 0;
}

.swipeCard--actions {
	display: flex;
	justify-content: space-between;
	padding: 0 2em;
}

.swipeCard--profile {
	height: 80%;
}
